<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hobbies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hobbies</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-list>
      <ion-item>
        <ion-label text-wrap>
          <h2>Drawing</h2>
          <p>
            I mainly like drawing portraits and recently I've done a lot of anime/manga style of drawings
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>
          <h2>Sports</h2>
          <p>
            I enjoy ay type of physicall activity, but my favorite sport is tennis. I also really enjoy vollyeball, skiing, running and biking.
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>
          <h2>Music</h2>
          <p>
            I know it's a stereotype to say music, but I really do listen to a lot of different genres of music even in several languages!
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
